<div class="register-page">
  <div class="register-card">
    <h2>Créer un compte</h2>

    <form (ngSubmit)="register()">
      <label>
        Identifiant
        <input
          type="text"
          [(ngModel)]="model.email"
          name="email"
          required
        />
      </label>

      <label>
        Mot de passe
        <input
          type="password"
          [(ngModel)]="model.password"
          name="password"
          required
        />
      </label>

      @if (errorMessage) {
        <p class="error">
          {{ errorMessage }}
        </p>
      }

      <div class="actions">
        <button type="submit">
          Créer un compte
        </button>

        <button type="button" routerLink="/login">
          Se connecter
        </button>
      </div>
    </form>
  </div>
</div>
