<section class="patients-page">

  <div class="patients-header">
    <h2>Patients</h2>

    <button class="btn" (click)="createPatient()">
      + Ajouter un patient
    </button>
  </div>

  @if (loading) {
    <p>Chargement...</p>
  }
  @else if (patients.length === 0) {
    <p>Aucun patient</p>
  }
  @else {
    <table class="patients-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date</th>
          <th>Genre</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (p of patients; track p.id) {
          <tr class="row-clickable" (click)="openPatient(p.id)">

            <td>{{ p.lastName }}</td>
            <td>{{ p.firstName }}</td>
            <td>{{ p.dateOfBirth }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.address }}</td>
            <td>{{ p.phoneNumber }}</td>


            <td class="actions-cell">
              <div class="row-actions">
                <button
                  class="btn edit"
                  (click)="editPatient(p.id); $event.stopPropagation()">
                  Modifier
                </button>

                <button
                  class="btn delete"
                  (click)="deletePatient(p.id); $event.stopPropagation()">
                  Supprimer
                </button>
              </div>
            </td>

          </tr>
        }
      </tbody>

    </table>
  }

</section>
