<h2>Ajouter un patient</h2>

<!--permet de désactiver le bouton save quand les champs required ne sont pas remplis-->
<form #f="ngForm" (ngSubmit)="save()" class="patients">
<!--[(ngModel)] liens de données bidirectionnels pour chaque champ du formulaire-->
<p class="form-hint">
  Les champs marqués d’un * sont obligatoires.
</p>

<label class="required">Prénom*</label>
<input
    type="text"
    [(ngModel)]="model.firstName"
    name="firstName"
    required
  />

<label class="required">Nom*</label>
<input
    type="text"
    [(ngModel)]="model.lastName"
    name="lastName"
    required
  />

<label class="required">Date de naissance*</label>
<input
    type="date"
    [(ngModel)]="model.dateOfBirth"
    name="dateOfBirth"
    required
  />

<label class="required">Genre*</label>
<select
  [(ngModel)]="model.gender"
  name="gender"
  required
>
  <option value="" disabled>
    Genre
  </option>
  <option value="Femme">Femme</option>
  <option value="Homme">Homme</option>
</select>

<label class="required">Adresse</label>
<input
    type="text"
    [(ngModel)]="model.address"
    name="address"
  />

<label class="required">Numéro de téléphone</label>
<input
    type="text"
    [(ngModel)]="model.phoneNumber"
    name="phoneNumber"
  />

<div class="actions">
  <button type="button" class="btn" (click)="goBack()">← Retour</button>
  <button class="btn" type="submit" [disabled]="f.invalid">Enregistrer</button>
</div>

</form>
