<h2>Patients</h2>

<button (click)="createPatient()">Ajouter un patient</button>

@if (loading) {
  <p>Chargement...</p>
}
@else if (patients.length === 0) {
  <p>Aucun patient</p>
}
@else {
  <table class="patients-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date</th>
        <th>Genre</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (p of patients; track p.id) {
        <tr class="row-clickable">
          <td (click)="openPatient(p.id)">{{ p.lastName }}</td>
          <td (click)="openPatient(p.id)">{{ p.firstName }}</td>
          <td (click)="openPatient(p.id)">{{ p.dateOfBirth }}</td>
          <td (click)="openPatient(p.id)">{{ p.gender }}</td>
          <td (click)="openPatient(p.id)">{{ p.address }}</td>
          <td (click)="openPatient(p.id)">{{ p.phoneNumber }}</td>

          <td>
            <button (click)="editPatient(p.id)">Modifier</button>
            <button (click)="deletePatient(p.id)">Supprimer</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
