<h2>Détail du patient</h2>

@if (loading) {
  <p>Chargement...</p>
}
@else if (!patient) {
  <p>Patient introuvable</p>
}
@else {
  <div class="patients patient-details">
    <div class="field">
      <label>Prénom</label>
      <div class="value">{{ patient.firstName }}</div>
    </div>

    <div class="field">
      <label>Nom</label>
      <div class="value">{{ patient.lastName }}</div>
    </div>

    <div class="field">
      <label>Date de naissance</label>
      <div class="value">{{ patient.dateOfBirth }}</div>
    </div>

    <div class="field">
      <label>Genre</label>
      <div class="value">{{ patient.gender }}</div>
    </div>

    <div class="field">
      <label>Adresse</label>
      <div class="value">{{ patient.address }}</div>
    </div>

    <div class="field">
      <label>Téléphone</label>
      <div class="value">{{ patient.phoneNumber }}</div>
    </div>

    <div class="actions">
      <button type="button" (click)="goBack()">← Retour</button>
    </div>
  </div>
}
