.app-header {
  justify-content: space-between;

  padding: 16px 0px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.auth-button {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}
