.app-header {
  justify-content: space-between;

  padding: 16px 0px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #ffffff;
}

button {
  width: auto;
  padding: 10px 16px;

  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;

  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

button:hover {
  background: #e9ecf0;
}